@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="container sec1">
    <div class="row">
        <h1> ABD College</h1>
    </div>

</section>

<section class="container sec2">
    <div class="row">
        <img src="Images/1.jpg" width="800px" height="500px"/> 
    </div>
</section>

<section class="container sec3">
    <div class="row intro">
        <div class="col-md-6 ">
            <h2>Welcome to ABD College</h2>
            <p>ABD College is recognized as Sri Lanka’s largest and one of the most prestigious non-state degree-awarding Institutes. Over the past two decades, ABD College has been rooted in its commitment to supporting educational excellence, creating an environment for students to gain vital skills thus contributing towards shaping the national economy.<br />
At ABD College, we foster a culture of innovation, where ideas are nurtured and turned into impactful endeavors. Since its inception in 1999, ABD College has empowered individuals with the passion, determination, and foresight to create positive change in society.
            </p>
        </div>
        <div class="col-md-6">
            <img src="Images/4.jpg" width="400px" height="400px"/>
        </div>
    </div>
</section>

<section class="container sec4">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="Images/8.jpg" class="card-img-top" alt="computing" >
                <div class="card-body">
                    <h5 class="card-title">Engineering</h5> 
                    <p class="card-text">The Faculty of Engineering of ABD College is the epicenter of engineering education, research, knowledge creation and distribution in Sri Lanka. Comprised of prominent lecturers, researchers and a helpful academic staff, the students are guaranteed to receive quality education and knowledge.</p>
                    <a href="#" class="btn btn-primary">More...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="Images/9.jpg" class="card-img-top" alt="computing">
                <div class="card-body">
                    <h5 class="card-title">Computing</h5>
                    <p class="card-text">The ABD College Faculty of Computing is equipped with a range of courses specialising in various arms of the IT sector. Students are able to choose a path that is most in line with their requirements, allowing them to pursue substantial careers in their selected field. Combined with an in-house lecturer panel, expansive computer laboratories and hands-on learning, ABD College provides its Faculty of Computing students with the ideal environment to develop their computing skills.</p>
                    <a href="#" class="btn btn-primary">More...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <img src="Images/10.jpg" class="card-img-top" alt="business">
                <div class="card-body">
                    <h5 class="card-title">Business</h5>
                    <p class="card-text">The dynamic nature of current businesses dictates visionary leaders, strategic managers, innovative entrepreneurs and the power of integrated technologies to perform successfully. Therefore, up-to-date knowledge, dependable competence, marketable skills and creative ideas in management and information systems disciplines have become cornerstones to the effective operation of businesses across industries.</p>
                    <a href="#" class="btn btn-primary">More...</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container sec5">
    <div class="row">
        <div class="col-md-6">
            <img src="Images/3.jpg" width="500px" height="500px"/>
        </div>

        <div class="col-md-6">
            <h2>
                ABD Research
            </h2>
            <p>
                As a leading tertiary educational Institute in Sri Lanka, research is an integral part of ABD College.We strive for a vibrant research culture and numerous initiatives are in place for programming research among the academic and student communities.
                Integrating research methodology to undergraduate and postgraduate curricula, establishing a research center to carry out research work, the ABD College research grant scheme is all meant to promote research.
            </p>
        </div>

    </div>
</section>

<section class="container sec6">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form>
                <div class="mb-3">
                    <label for="yourName" class="form-label">Your Name</label>
                    <input type="text" class="form-control" id="yourName" aria-describedby="nameHelp">
                </div>
                <div class="mb-3">
                    <label for="yourEmail" class="form-label">Your Email</label>
                    <input type="email" class="form-control" id="yourEmail" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="yourDescription" class="form-label">Description</label>
                    <textarea class="form-control" id="yourDescription" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-custom">Submit</button>
            </form>

        </div>
        <div class="col-md-3"></div>
    </div>

</section>


