@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<section class="container sec-p1">
    <div class="row">
        <img src="Images/7.jpg" width="600px" height="450px"/>

    </div>
</section>

<section class="container sec-p2">
    <div class="row">
        <div class="col-md-3></div>
        <div class="col-md-6>
            <p>We are a leading non-state higher education institute approved by the Ministry of Education and the University Grants Commission (UGC). Additionally, we are members of the Association of Commonwealth Universities (ACU) and the International Association of Universities (IAU). Our Civil and Mechanical engineering degrees are recognized by IESL, Sri Lanka. ABD College is the first Sri Lankan institute to be accredited by the Institution of Engineering & Technology, UK. We've been ranked 10th in Sri Lanka and emerged as the number 1 non-state higher education institution in Sri Lanka.</p>
        </div>
        <div class="col-md-3></div>
    </div>
</section>